.headerText{
  margin-left:1%;
  margin-top:1%;
}
.firstInput, .subInputBuilder{
  width:30%;
  margin:1%;
  border-style: solid;
  border-width: 0.5px;
  margin-left:1%;
}
.builder button{
  margin:1.5%;
}
.condition{
  width:50%;
  display:inline-block;
}
.addInputButton{
  margin:1%
}
.hidden{
  display:none;
}